@import 'variable';

.skills{

    margin-top: 91px;
    margin-bottom: 110px;
    

    &__link{
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: $header-color;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__titel{
        font-size: 34px;
        line-height: 42px;
        font-weight: 700;
        color: $main-color;
        
        
    }

    &__p{
        margin-top: 69px;
        margin-bottom: 83px; 

        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        color: $main-color;
    }

    &__block-programs{
        width: 100%;
        

    }

   

    &__program{
        display: flex;
        justify-content: center;

        &:hover{
          
            transform: scale(1.5, 1.5);
            transition: 0.6s;
            
           
            
        }

        &:last-child:hover{
            transform: scale(1.5, 1.5) translateX(-20px);
            transition: 0.6s;
        }
        &:first-child:hover{
            transform: scale(1.5, 1.5) translateX(20px);
            transition: 0.6s;
        }
        
        
    }

    &__program-titel{
        padding-top: 24px;
        padding-bottom: 40px;
        flex-grow: 1;
    }

    &__star{
        fill: #070707;

        &_null{
            fill: #E5E5E5;
        }
    }
}

@media all and (max-width: 979px){
    .skills{

        margin-top: 83px;
        margin-bottom: 98px;

        &__program{
            margin-bottom: 81px;

            &:last-child{
                margin-bottom: 0;
            }
        }  
    } 
    
     
    
}